@import "./theme.scss";
.footer{
	width: 100%;
	margin: 0 auto;
	box-shadow: 0px -3px 10px 0px rgba(0, 0, 0, 0.19);
	background-color: $themeBackGroundColorSec;
	display: flex;
	flex-direction: column;
	padding: 0;
}
.panel{
	display: flex;
	flex: 0 0 auto;
	height: 50px;
	align-items: center;
}
.item{
	background-color: rgba(113, 113, 113, 0.14);
	display: flex;
	align-items: center;
	flex:0 1 250px;
	width: 250px;
	overflow: hidden;
	height: 100%;
}
.image{
	display: inline-flex;
	flex: 0 0 50px;
	height: 50px;
	width: 50px;
	background-color: rgb(98, 98, 98);
}
.meta{
	padding-left: 10px;
	padding-right: 10px;
	display: flex;
	overflow-x: hidden;
	white-space: nowrap;
	flex-direction: column;
	flex: 1;
	.songName{
		font-size: 1.2em;
		color: $fontColorSongName;
	}
	.subTitle{
		color: rgb(128, 128, 128);
	}
}
.CtrlBtn{
	margin: 0 0 0 30px;
	display: flex;
	flex:0 0;
	width: auto;
}
.time{
	flex:0 0 auto;
	color:$ctrlColor;
}
.TSlider{
	display: flex;
	flex: 1 1 100%;
	align-items: center;
}
.VSlider{
	padding: 0;
	display: flex;
	align-items: center;
	width: 100px;
	flex: 0 0 100px;
	margin: 0 30px 0 30px;
}
.ctrlAndTime{

	display: flex;
	align-items: center;
	justify-content: space-between;
}
@media screen and (max-width: 768px) {
	.panel{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		height: auto;
	}
	.ctrlAndTime{
		width: 100%;
		padding: 10px;
	}
	.CtrlBtn{
		display: flex;
		flex: 0 0 auto;
		height: auto;
		width: 100%;
		margin: 0;
	}
	.item{
		display: flex;
		flex: 0 0 30px;
		height: 30px;
		width: 100%;
		.meta{
			flex-direction: row;
			justify-content: space-between;
		}
	}
	.VSlider{
		display: none;
	}
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
	.TSlider{
	}
	.VSlider{
		display: none;
	}
}
