@import "./theme.scss";
.container{
	display: flex;
	flex:1;
	padding: 0;
	--rangebk-color:rgb(103, 101, 101);
	--rangebk-color-hover:#{$ctrlColor};
	--progress-color: #{$themeColor};
	// --progress-color: rgb(91, 200, 53);
	--progress-color-hover:#{$themeColor};
	--thumb-color:rgb(237, 237, 237);
	--thumb-color-hover:rgb(245, 240, 240);
	--thumb-shadow-hover:rgba(199, 197, 197, 0.59);
}
.seek{
	-webkit-appearance: none;
	width: 100%;
	height: 4px;
	padding: 0;
	margin: 0 auto;
	background-color: var(--rangebk-color);
	cursor: pointer;
	box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.13);
	outline : none;

	--range: calc(var(--max) - var(--min));
	--ratio: calc((var(--val) - var(--min))/var(--range));
	--sx: calc(0.5*12px + var(--ratio)*(100% ));
}
.seek:focus{
	outline: none;
}
.seek:hover,  .seek:active{
  background-color: var(--rangebk-color-hover);
	height: 5px;
	&::-moz-range-thumb{
		width: 12px;
		height: 12px;
	  background-color: var(--thumb-color-hover);
	 	box-shadow: 0px 0px 0px 5px var(--thumb-shadow-hover);
	}
	&::-webkit-slider-thumb{
		width: 12px;
		height: 12px;
		margin-top:-4px;
	  background-color: var(--thumb-color-hover);
	 	box-shadow: 0px 0px 0px 5px var(--thumb-shadow-hover);
	}
}
.seek::-webkit-slider-runnable-track {
	width: 100%;
	height: 100%;
	-webkit-appearance: none;
	background: linear-gradient(var(--progress-color), var(--progress-color)) 0/var(--sx) 100% no-repeat  var(--rangebk-color);
}
.seek::-webkit-slider-runnable-track:hover{
	background: linear-gradient(var(--progress-color-hover), var(--progress-color-hover)) 0/var(--sx) 100% no-repeat var(--rangebk-color-hover);
}
.seek::-webkit-slider-thumb{
	-webkit-appearance: none;
	width: 0;
	height: 0;
	background-color: var(--thumb-color);
	border-radius: 100%;
	cursor: pointer;
	box-shadow: 1px 1px 0px 0px rgb(207, 207, 207);
}

/*FF*/
.seek::-moz-focus-outer {
  border: 0;
}
.seek::-moz-range-thumb{
	width: 0;
	height: 0;
 	background-color: var(--thumb-color);
	border:0;
 	border-radius: 100%;
 	cursor: pointer;
	box-shadow: 1px 1px 0px 0px rgb(207, 207, 207);
 }
.seek::-moz-range-track {
	height: 100%;
	border: none;
	background: none;
}
.seek::-moz-range-progress{
	transition: all 0.3s ease;
	background-color: var(--progress-color);
	height: 100%;
}
.seek::-moz-range-progress:hover{
	background-color: var(--progress-color-hover);
}
