$themeColor:#f7d026;
$themeColorSec:#f7d026;
$themeBackGroundColor:#131313;
$themeBackGroundColorSec:#222222;
$themeBackGroundColorThird:#171717;
$fontColorData: #e0e0e0;
$fontColorDataPlaying: #e0e0e0;
$iconColor: #3c3c3c;
$hrColor:rgba(#ffffff, 0.21);
$fontColorSongName:#e0e0e0;
$ctrlColor:#f1f1f1;

/** Light Verision**/
/*
$fontColorData: #1f1f1f;
$fontColorDataPlaying: #1f1f1f;
$iconColor: #c3c3c3;
$hrColor:rgba(#000000, 0.21);
*/
